@tailwind base;

/* @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
} */

@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 52 58 64;
  --color-secondary: 135 65 66;
  --color-tertiary: 216 200 188;
}
